/* Dark Mode */
.dark-mode-toggle-area {
    position: fixed;
    z-index: 4;
    right: 0;
    margin: 1em 1em 0 0;
}

.dark-mode-label-svg {
    width: 2em;
    height: 2em;
}

.dark-mode-toggle {
    width: 1.5em;
    height: 2em;
}
