@use 'base-colours';

/* Main Content */
.page-title {
    font-weight: bold;
    font-size: 4em;
    text-decoration: underline;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

/* Page Image Section */
.page-image-section {
    align-self: center;
    margin-bottom: 1em;
}

.page-img {
    width: 23em;
    cursor: pointer;
}

.page-img-caption {
    font-style: italic;
    margin-top: 0.5em;
    width: 23em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

/* Page Section */
.page-section-title {
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
}

.page-section-text-body {
    width: 92%;
    align-self: center;
    margin-bottom: 3em;
    font-size: 2em;
    white-space: pre-wrap;
}

.page-section-image-section {
    align-self: center;
    margin-bottom: 1em;
}

.page-section-img {
    width: 12em;
    cursor: pointer;
}

.page-section-img-caption {
    font-style: italic;
    margin-top: 0.5em;
    width: 12em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

/* Subsection */
.page-subsection-title {
    font-size: 2em;
    font-weight: bold;
}

.page-subsection-img {
    width: 11em;
    cursor: pointer;
}

.page-subsection-img-caption {
    font-style: italic;
    margin-top: 0.5em;
    width: 22em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 0.5em;
}

.page-subsection-text-body {
    display: flex;
    width: 92%;
    align-self: center;
    margin-bottom: 3em;
    font-size: 2em;
    white-space: pre-wrap;
}

/* Attributes Section */
.attributes-list {
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    align-self: center;
    justify-content: center;
}

.attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.attribute-title {
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}

.attribute-value {
    font-size: 1.6em;
}

/* Gallery Section */
.gallery-image-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
    align-self: center;
    justify-content: center;
}

.gallery-image-section {
    margin: 1em;
}

.gallery-img {
    width: 12em;
    cursor: pointer;
}

.gallery-img-caption {
    font-style: italic;
    margin-top: 0.5em;
    width: 12em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

/* Associations */
.associations-section {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.association-group {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}

.association-title {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.2em;
}

.associated-page {
    font-size: 1.5em;
    cursor: pointer;
}

.associated-page:hover {
    text-decoration: underline;
}

/* Space block */
.space-block {
    height: 66px;
    width: 100%;
    border: 1px solid base-colours.$primary-background-colour;
}

.space-block-dark {
    height: 66px;
    width: 100%;
    border: 1px solid base-colours.$dark-mode-background-colour;
}
